[:project
 [{movieTitle si.1/movieTitle}]
 [:project
  [si.1/movieTitle]
  [:mega-join
   [(= si.1/starName ms.2/name)]
   [[:rename si.1 [:scan {:table StarsIn} [movieTitle starName]]]
    [:rename
     ms.2
     [:scan
      {:table MovieStar}
      [name {birthdate (= birthdate 1960)}]]]]]]]
